(function($)
{
  'use strict';

  window.Engine = function(content)
  {
    var engine = this;

    [% PROCESS setup.tt2 %]
    [% DEFAULT
      width  = 640
      height = 480

      max_do_aux           = 50
      show_phys_box        = 0
      show_draw_box        = 0
      preload_interval     = 500
      paint_chunk_interval = 50
      chunk_draw_range     = 7
      bankrupt_frames      = 40

      debug        = 0
      show_map     = 0
      show_tiles   = 0
      engine_input = 1
      show_timings = 0

      tiles_bd = 0
      tiles_xw = 16
      tiles_yh = 16
      tiles_bg = "background.png"
      tiles_fg = "foreground.png"

      chunk_xw = 40
      chunk_yh = 30

      game_prefix = game.name.lower.replace('\W+', '_') || 'new_game'
      game_js = "${game_prefix}_js"
    %]

    [% BLOCK INCLUDE_MAYBE %]
      [%
        TRY ;
          PROCESS "$file" ;
        CATCH file ;
          CLEAR ;
          GET "/* NOPE: $file */" ;
          GET "/* $error */" ;
        END ;
      %]
    [% END %]

    [% PROCESS blocks.tt2 %]

    [% INCLUDE js/misc.js %]
    [% INCLUDE js/events.js %]
    engine.events = new Events()

    [% INCLUDE js/lprng.js %]
    [% INCLUDE js/physics.js %]
    [% INCLUDE js/tiles.js %]
    [% INCLUDE js/chunks.js %]
    [% INCLUDE js/gfx.js %]
    [% INCLUDE js/hud.js %]
    [% INCLUDE js/loader.js %]
    [% INCLUDE js/animation.js %]
    [% INCLUDE js/sprite.js %]
    [% INCLUDE js/ai.js %]
    [% INCLUDE js/runtime.js %]
    [% INCLUDE js/layers.js %]
    [% INCLUDE js/cooldown.js %]
    [% INCLUDE js/input.js %]
    [% INCLUDE js/noise.js %]

    [% WRAPPER scope %]
      [% PROCESS INCLUDE_MAYBE file="${game_prefix}.js" %]
    [% END %]

  }

})(jQuery);
